/*
 * filename : mystyles.css
 * author : me
 * class : GWDB_223
 */

body {
    margin: 0;
    padding: 0;

}

#wrapper {
    width: 960px;
    margin: 0 auto;
}

header, footer {
    height: 120px;
    border: 1px solid #000;
    clear: both;
}

nav {
    height: 80px;
    border: 1px solid #000;
}

nav ul {
    margin: 0;
    padding: 0;
}

nav ul li {
    list-style-type: none;
}

nav ul li a {
    border: 1px solid #000;
    width: 16%;
    float: left;
    text-align: center;
    height: 79px;
    line-height: 80px;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: red;
    color: #000;

}



#content-aside-wrapper {

}

content {
    border: 1px solid #000;
    width: 69%;
    float: left;
}

aside {
    border: 1px solid #000;
    width: 30%;
    float: right;
}

img {
    margin: 0;
    padding: 0;
    width: 100%;
}

